<section id="about">
  <div class="about-item">
    <h1>Learn to code</h1>
    <p>
      Are you interested in coding ? Then you are in the right place.
      Podii provides a platform to learn how to build interactive web applications in our coding bootcamp. It is fun and interactive hands on skills experience
    </p>
  </div>

  <div class="about-item">
    <h1>Prerequisites</h1>
    <p> Before you apply kindly ensure that</p>
    <ul>
      <li> You are interested in learning new ideas </li>
      <li> Are available for 13 weeks </li>
      <li> You have a working laptop </li>
    </ul>
  </div>

</section>
