<section id="cirr-section">
  <h1>What you will learn</h1>
  <p>Apart from converting coffee into code, a programmer needs other skills to interact and communicate with their clients as they creatively and algorithmically solve problems.These skills are cultivated along the way as you grow in your career.We encourage our students to be all rounded.</p>
  <div class="row">
    {{#each what_you_learn}}
    <div class="what-you-learn">
    <img alt="" src="img/coding.png"/>
    <h2>{{this.title}}</h2>
    <p>{{this.desc}}</p>
    </div>
    {{/each}}
  </div>
</section>
