#about {
  text-align: center;
  background-color: $podii-blue;
  color: white;
  padding: 3em 2em;
  p, ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  .about-item {
    padding-bottom: 3em;
    ul {
      text-align: left;
    }
  }

  @media only screen and (min-width: 768px) {
    display: flex;
    font-size: 1.2em;
    text-align: left;
    .about-item {
      padding: 1em 6%;
      flex: 50%;
    }
  }
}
