#navbar {
  position: fixed;
  z-index: 2000;
  top: 0;
  width: 100%;
  margin-left: -8px;
  header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $podii-blue;
  }

  nav {
    position: relative;
  }

  #close-button:after {
    content: '✖';
  }

  ul {
    display: none;
  }

  ul.show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 97vh;
    background-color: $podii-blue;
    margin-top: 2.5em;
  }

  li {
    text-align: center;
    margin: 0;
    list-style: none;
    padding-bottom: 2em;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.6em;
    }
    .button {
      background-color: yellow;
      padding: 0.3em 1em;
      color: #222;
    }
  }

  #menu-icon {
    float: right;
	  width: 2.5em;
	  height: 2.5em;
	  background: $podii-blue url(../img/menu-icon.png) center;
  }

  #close-button {
    float: right;
    display: none;
    color: white;
    text-decoration: none;
    font-size: 3em;
    padding-right: 0.4em;
  }

  .podii-logo {
    color: white;
    font-size: 1.4em;
    padding: 0.2em 0.5em;
    text-decoration: none;
    display: block;
    padding-bottom: 0;
    max-width: 45%;
  }

  @media only screen and (min-width: 768px) {
    #menu-icon {
      display: none;
    }
    header {
      align-items: center;
      display: flex;
    }
    ul {
      display: flex;
      justify-content: right;
      li {
        padding: 0.5em 1em;
        margin-bottom: 1px;
        transition: background-color 0.4s linear;
        a {
          transition: color 0.4s linear;
        }
        &:hover {
          background-color: white;
          a {
            color: $podii-blue;
          }
          &:last-child {
            background-color: yellow;
          }
        }
      }
    }
    .podii-logo {
      padding-top: 0;
      padding-bottom: 0;
    }
    nav {
      flex-grow: 8;
    }
  }


}
