#pricing {
  margin-top: 2.5em;
  margin-left: -8px;
  margin-right: -8px;
  padding: 0 1em;
  background-image: url('../../img/pricing_mobile_bg.jpg');
  background-size: cover;
  h1, h2 {
    text-align: center;
  }
  h1 {
    padding-top: 2em;
  }
  h2 {
    padding-top: 4em;
  }

  @media only screen and (min-width: 768px) {
    background-image: none;
    padding: 0;
    .invest-in-us {
    background-image: url('../../img/pricing_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4em;
    color: white;
    text-align: center;
    }
    .prices {
      max-width: 700px;
      margin: auto;
    }
    margin-top: 0;
    margin-bottom: 4em;
  }
}
