@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');
$podii-blue: rgb(0, 133, 117);
$podii-black: #101010;
$podii-orange: #ff5e0e;
$podii-brown: #695d46;
$primary-font-color: #4a4a4a;
$maven-font: "Maven Pro"
