#cirr-section {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  .row {
    .what-you-learn {
      padding: 1em 2em;
      &:nth-child(odd) {
        background-color: #efefef;
        margin: 0 -8px;
      }
    }
    h2 {
      text-align: center;
    }
    p {
      padding: 0 2em;
      text-align: justify;
    }
  }

  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 3em;
    }
    p {
      width: 80%;
      margin: 0 auto;
      font-size: 1.3em;
    }
    .row {
      padding-top: 3em;
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
      margin: auto;
      .what-you-learn {
        flex: 50%;
        padding: 1em 0;
        p {
          padding: 0;
        }
        &:nth-child(odd) {
          background-color: transparent;
        }
      }
    }
  }
}
