<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" >
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{pagetitle}}</title>

    <!-- Search Engine -->
    <meta name="description" content="{{metatags.description}}">
    <meta name="image" content="{{metatags.logo}}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Podii Academy - Learn to code in 13 weeks">
    <meta name="twitter:creator" content="@podiihq">
    <meta name="twitter:description" content="{{metatags.description}}">
    <meta name="twitter:site" content="@podiihq">
    <meta name="twitter:image:src" content="https://podiihq.com/academy-social-banner.png">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Podii Academy - Learn to code in 13 weeks">
    <meta name="og:description" content="{{metatags.description}}">
    <meta name="og:image" content="https://podiihq.com/academy-social-banner.png">
    <meta name="og:url" content="https://academy.podiihq.com">
    <meta name="og:site_name" content="Podii Academy">
    <meta name="og:type" content="website">
    <link rel="icon" type="image/x-icon" href="{{metatags.logo}}">

    {{#ifpage 'apply' }}
    <style type="text/css"> html{ margin: 0; height: 100%; overflow: hidden; } iframe{ position: absolute; left:0; right:0; bottom:0; top:0; border:0; } </style>
    {{/ifpage}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121805491-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-121805491-1');
    </script>
  </head>
  <body>
    {{> navbar}}
    {{> body}}
    {{#ifpage 'apply'}}
    <script type="text/javascript" src="https://public-assets.typeform.com/confab/embed.js" async></script>
    {{/ifpage}}
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
